{% extends 'base.html.twig' %}

{% block title %}Voici la liste des stages{% endblock %}

{% block body %}
    {% for stage in stages %}
        <a href="{{ path('detailStage', {id:stage.id}) }}">
        <p> {{stage.titre}} </p>
        </a>
    {% endfor %}
{% endblock %}
