{% extends 'lesListesDeFormations.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block table %}

    {% for formation in formations %}
        <tr>
            <th scope="row"> {{ formation.id }} </th>
            <td> <a href="{{ path('detailFormation', {id:formation.id}) }}"> {{ formation.nomLong }} </a></td>
            <td>{{ formation.nomCourt }}</td>
        </tr>
    {% endfor %}
{% endblock %}