{% extends 'base.html.twig' %}

{% block title %}formation numéro {{formation.id}}{% endblock %}

{% block body %}

{% for stage in formation.stage %}

    <p>{{ stage.titre }}</p>

{% endfor %}

{% endblock %}