{% extends 'base.html.twig' %}

{% block title %}Detail de {{stage.titre}}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ stage.titre }}</h1>
    <h4 class="text-center">Liste des <a href="{{ path('formationsParStage', {id:stage.id}) }}}">formations</a> proposés pour ce stage</h4>
{% endblock %}
