{% extends 'base.html.twig' %}

{% block title %}stage numéro {{stage.id}}{% endblock %}

{% block body %}

{% for formation in stage.stagesFormation %}

    <p>{{ formation.nomLong }}</p>

{% endfor %}

{% endblock %}