{% extends 'base.html.twig' %}

{% block title %}Voici la liste des entreprises{% endblock %}

{% block body %}
    {% for entreprise in entreprises %}
        <a href="{{ path('detailEntreprise', {id:entreprise.id}) }}">
        <p> {{entreprise.nom}} </p>
        </a>
    {% endfor %}
{% endblock %}
